n8n/Pharma_Daily_Digest_Telegram.json
{
  "name": "Pharma Daily Digest & Alerts — Telegram",
  "nodes": [
    {"parameters": {"content": "## Daily Sales Digest + Anomaly Alerts\n\nEvery morning at 08:00: reads KPI summary, pending HITL count, and unsent anomaly alerts from data tables → sends one Telegram digest → marks alerts as sent.\n\n### Setup\n1. Attach your **Telegram API credential** to the Send Digest node\n2. Replace **YOUR_CHAT_ID** in Send Digest with your chat id (message @userinfobot on Telegram to get it)\n3. Activate\n\nIn production the KPI/alert tables are refreshed by the analytics pipeline (Notebooks 3–4) after each run.", "height": 320, "width": 440}, "id": "note1", "name": "Setup Notes", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-1460, -360]},
    {"parameters": {"rule": {"interval": [{"field": "cronExpression", "expression": "0 8 * * *"}]}}, "id": "sched", "name": "Every Morning 08:00", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-1000, 0]},
    {"parameters": {"operation": "get", "dataTableId": {"__rl": true, "mode": "id", "value": "hKUWaP8Toekwb2Xz", "cachedResultName": "kpi_summary"}, "returnAll": true, "options": {}}, "id": "kpi", "name": "Get KPIs", "type": "n8n-nodes-base.dataTable", "typeVersion": 1.1, "position": [-780, 0], "alwaysOutputData": true},
    {"parameters": {"operation": "get", "dataTableId": {"__rl": true, "mode": "id", "value": "kyjcN3233zocREtV", "cachedResultName": "hitl_review_queue"}, "filters": {"conditions": [{"keyName": "status", "keyValue": "pending"}]}, "returnAll": true, "options": {}}, "id": "pend", "name": "Get Pending Reviews", "type": "n8n-nodes-base.dataTable", "typeVersion": 1.1, "position": [-560, 0], "alwaysOutputData": true},
    {"parameters": {"operation": "get", "dataTableId": {"__rl": true, "mode": "id", "value": "rT6fhLh8agn1GXFe", "cachedResultName": "supplier_week_alerts"}, "filters": {"conditions": [{"keyName": "sent", "keyValue": false}]}, "returnAll": true, "options": {}}, "id": "alerts", "name": "Get Unsent Alerts", "type": "n8n-nodes-base.dataTable", "typeVersion": 1.1, "position": [-340, 0], "alwaysOutputData": true},
    {"parameters": {"jsCode": "// Build the daily digest from the three table reads\nconst kpis = {};\nfor (const it of $('Get KPIs').all()) {\n  if (it.json && it.json.metric) kpis[it.json.metric] = it.json;\n}\nconst pending = $('Get Pending Reviews').all().filter(i => i.json && i.json.pair_id !== undefined);\nconst alerts = $('Get Unsent Alerts').all().filter(i => i.json && i.json.supplier_id !== undefined);\n\nconst fmt = n => Number(n || 0).toLocaleString('en-US');\nconst lines = [];\nlines.push('\\ud83d\\udc8a *Pharma Sales \\u2014 Daily Digest*');\nlines.push('');\nlines.push(`\\ud83d\\udcb0 Total revenue: EGP ${fmt(kpis.total_revenue_egp?.value_num)}`);\nlines.push(`\\ud83e\\uddfe Transactions: ${fmt(kpis.total_transactions?.value_num)}`);\nlines.push(`\\ud83c\\udfc6 Top product: ${kpis.top_product?.value_text || 'n/a'}`);\nlines.push(`\\ud83e\\udd47 Top rep: ${kpis.top_rep?.value_text || 'n/a'} (EGP ${fmt(kpis.top_rep?.value_num)})`);\nlines.push(`\\ud83c\\udfea Top pharmacy: ${kpis.top_pharmacy?.value_text || 'n/a'}`);\nlines.push(`\\ud83d\\udce6 Top supplier: #${kpis.top_supplier?.value_text || '?'} (EGP ${fmt(kpis.top_supplier?.value_num)})`);\nlines.push('');\nlines.push(`\\ud83d\\udd0d HITL queue: *${pending.length}* pairs awaiting review \\u2014 send /review to the review bot`);\n\nif (alerts.length > 0) {\n  lines.push('');\n  lines.push(`\\u26a0\\ufe0f *${alerts.length} anomaly alert(s):*`);\n  const top = alerts.sort((a, b) => Math.abs(b.json.rzscore) - Math.abs(a.json.rzscore)).slice(0, 5);\n  for (const a of top) {\n    const e = a.json.direction === 'DROP' ? '\\ud83d\\udd3b' : '\\ud83d\\udd3a';\n    lines.push(`${e} supplier ${a.json.supplier_id}, week ${a.json.week}: ${a.json.direction} (EGP ${fmt(a.json.total_amount)}, z=${a.json.rzscore})`);\n  }\n  if (alerts.length > 5) lines.push(`\\u2026 and ${alerts.length - 5} more in the alerts table`);\n} else {\n  lines.push('');\n  lines.push('\\u2705 No new anomalies.');\n}\n\nreturn [{ json: { message_text: lines.join('\\n'), n_alerts: alerts.length } }];"}, "id": "compose", "name": "Compose Digest", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-120, 0]},
    {"parameters": {"operation": "sendMessage", "chatId": "YOUR_CHAT_ID", "text": "={{ $json.message_text }}", "additionalFields": {"parse_mode": "Markdown"}}, "id": "send", "name": "Send Digest", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [120, 0], "onError": "continueRegularOutput"},
    {"parameters": {"operation": "update", "dataTableId": {"__rl": true, "mode": "id", "value": "rT6fhLh8agn1GXFe", "cachedResultName": "supplier_week_alerts"}, "filters": {"conditions": [{"keyName": "sent", "keyValue": false}]}, "columns": {"mappingMode": "defineBelow", "value": {"sent": true}, "matchingColumns": [], "schema": []}, "options": {}}, "id": "marksent", "name": "Mark Alerts Sent", "type": "n8n-nodes-base.dataTable", "typeVersion": 1.1, "position": [360, 0]}
  ],
  "connections": {
    "Every Morning 08:00": {"main": [[{"node": "Get KPIs", "type": "main", "index": 0}]]},
    "Get KPIs": {"main": [[{"node": "Get Pending Reviews", "type": "main", "index": 0}]]},
    "Get Pending Reviews": {"main": [[{"node": "Get Unsent Alerts", "type": "main", "index": 0}]]},
    "Get Unsent Alerts": {"main": [[{"node": "Compose Digest", "type": "main", "index": 0}]]},
    "Compose Digest": {"main": [[{"node": "Send Digest", "type": "main", "index": 0}]]},
    "Send Digest": {"main": [[{"node": "Mark Alerts Sent", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "pinData": {}
}
